/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  overflow: visible;
  overflow-x: hidden;
  font-family: 'Lexend Deca', sans-serif;
  min-width: 1440px;

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}



.container_slots_orientation {
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-around;
  position: relative;

}

.container_slots_orientation:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-box-shadow: -6px 23px 60px -28px rgba(251, 0, 255, 1);
  -moz-box-shadow: -6px 23px 60px -28px rgba(251, 0, 255, 1);
  box-shadow: -6px 23px 60px -28px rgba(251, 0, 255, 1);
}

.container_slots_tone {
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-around;
  position: relative;

}

.container_slots_tone:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-box-shadow: -6px 23px 60px -28px rgba(0, 255, 128, 1);
  -moz-box-shadow: -6px 23px 60px -28px rgba(0, 255, 128, 1);
  box-shadow: -6px 23px 60px -28px rgba(0, 255, 128, 1);
}

.container_slots_opening {
  padding-top: 40px;
  padding-bottom: 40px;
  height: 110%;
  justify-content: space-around;
  position: relative;
}

.container_slots_opening:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-box-shadow: -6px 23px 60px -28px rgba(0, 102, 255, 1);
  -moz-box-shadow: -6px 23px 60px -28px rgba(0, 102, 255, 1);
  box-shadow: -6px 23px 60px -28px rgba(0, 102, 255, 1);
}

.container_slots_provocation {
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-around;
  position: relative;
}

.container_slots_provocation:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-box-shadow: -6px 23px 60px -28px rgb(255, 255, 255);
  -moz-box-shadow: -6px 23px 60px -28px rgb(255, 255, 255);
  box-shadow: -6px 23px 60px -28px rgb(255, 255, 255);
}

.slot_title {
  font-weight: bold;
  font-family: 'Menlo Regular';
  font-size: 20px;
  color: white;
  /*display:table;
    margin-left: auto;
    margin-right: auto;*/
}



.espaco_branco {
  margin-top: 50px;
}

.titulo_footer {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 30px;
}

.made_footer {
  font-family: 'Karla', sans-serif;
  font-size: 13px;
  color: rgb(131, 131, 131);
}

.email_footer {
  font-family: 'Menlo Regular';
  font-size: 12px;
  color: white;
}


.info_footer {
  margin-top: 10px;
  font-size: 15px;
  /*color: rgb(70, 70, 70);*/
  color: white;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

.imagens_footer {
  display: block;
  margin-left: auto;
  margin-right: 0px;
  width: 260px;
  margin-top: 10px;
}


.footer_bottom_border_holder {
  position: relative;
  display: block;
  width: 100vw !important;
  margin-top: 50px;
  margin-left: -50vw;
  left: 50%;
  height: 1px;
  background-color: #2e2e2e;
}


.lever_button {
  outline: none;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  padding: 20px 60px;
  border-radius: 0px;
  font-weight: 800;
  font-size: 20px;

  font-family: sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}

.lever_button:focus {
  outline: 0;
}


#wrapper {
  width: 100%;
  height: 100px;
  border: 0px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}



.footer {
  margin-bottom: 50px;
  margin-top: 40px;
}

.page_title {
  text-align: left;
  font-family: 'Gobold Bold Italic';
  font-size: 40px;
  letter-spacing: 3px;
  color: white;
  /*color: #0064ff;?/
  margin-top: 50px;
  /*background-image: -webkit-linear-gradient(355deg, #0064ff, #00ff7f, #fb00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 100s infinite linear;*/
}



@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}


@font-face {
  font-family: 'Menlo Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Menlo Regular'), url('./fonts/menlo/Menlo-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Regular'), url('./fonts/gobold/Gobold Regular.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Italic'), url('./fonts/gobold/Gobold Regular Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Bold Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Bold Regular'), url('./fonts/gobold/Gobold Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gobold CUTS Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold CUTS Regular'), url('./fonts/gobold/Gobold CUTS.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Extra1 Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Extra1 Regular'), url('./fonts/gobold/Gobold Extra1.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Extra2 Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Extra2 Regular'), url('./fonts/gobold/Gobold Extra2.woff') format('woff');
}

@font-face {
  font-family: 'Gobold High Bold Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold High Bold Regular'), url('./fonts/gobold/Gobold High Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gobold High Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold High Regular'), url('./fonts/gobold/Gobold High.woff') format('woff');
}

@font-face {
  font-family: 'Gobold High Thin Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold High Thin Regular'), url('./fonts/gobold/Gobold High Thin.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Hollow Bold Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Hollow Bold Regular'), url('./fonts/gobold/Gobold Hollow Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Hollow Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Hollow Regular'), url('./fonts/gobold/Gobold Hollow.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Thin Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Thin Light Regular'), url('./fonts/gobold/Gobold Light.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Lowplus Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Lowplus Regular'), url('./fonts/gobold/Gobold Lowplus.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Thin Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Thin Regular'), url('./fonts/gobold/Gobold Thin.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Uplow Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Uplow Regular'), url('./fonts/gobold/Gobold Uplow.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Bold Italic'), url('./fonts/gobold/Gobold Bold Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gobold CUTS Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold CUTS Italic'), url('./fonts/gobold/Gobold CUTS Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Extra1 Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Extra1 Italic'), url('./fonts/gobold/Gobold Extra1 Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Extra2 Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Extra2 Italic'), url('./fonts/gobold/Gobold Extra2 Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gobold High Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold High Bold Italic'), url('./fonts/gobold/Gobold High Bold Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gobold High Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold High Italic'), url('./fonts/gobold/Gobold High Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gobold High Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold High Thin Italic'), url('./fonts/gobold/Gobold High Thin Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Hollow Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Hollow Bold Italic'), url('./fonts/gobold/Gobold Hollow Bold Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Hollow Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Hollow Italic'), url('./fonts/gobold/Gobold Hollow Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Thin Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Thin Light Italic'), url('./fonts/gobold/Gobold Light Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Lowplus Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Lowplus Italic'), url('./fonts/gobold/Gobold Lowplus Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Thin Italic'), url('./fonts/gobold/Gobold Thin Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gobold Uplow Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gobold Uplow Italic'), url('./fonts/gobold/Gobold Uplow Italic.woff') format('woff');
}







/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: black;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 150px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */

}

/* The navigation menu links */
.sidenav a {

  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #c2c2c2;
  display: block;
  transition: 0.3s;
  font-family: 'Menlo Regular';
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #0064ff;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}