* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 4vmin;
  color: white;
  user-select: none;
}

body, .rings, .combs, .results, .ring, .slot, .spin {
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
}

.slots {
  justify-content: center;
  align-content: center;
  transform-style: preserve-3d;
}

body, .combs, .results {
  flex-direction: column;
}

body {
  justify-content: space-around;
  background: #1924fb;
}

.slots {
  position: relative;
  width: 120vmin;
  height: 50vmin;
}
.slots > * {
  height: 100%;
}

/*.combs, .results
 * width: 20%
 * justify-content: space-between
 *
 * > *
 * font-size: $vm/2.8
 * color: scale-color($co, $lightness: 100%)
 * //color: $co * .5 */
.rings {
  width: 100%;
}

.ring {
  position: relative;
  width: calc(100% / 4);
  height: 100%;
  transition: 3s ease-in-out;
}

.slot {
  position: absolute;
  width: 100%;
  height: 45%;
  font-size: 3vmin;
  background: rgba(25, 36, 251, 0.935);
}
.slot:nth-child(1) {
  transform: rotateX(45deg) translateZ(27vmin);
}
.slot:nth-child(2) {
  transform: rotateX(90deg) translateZ(27vmin);
}
.slot:nth-child(3) {
  transform: rotateX(135deg) translateZ(27vmin);
}
.slot:nth-child(4) {
  transform: rotateX(180deg) translateZ(27vmin);
}
.slot:nth-child(5) {
  transform: rotateX(225deg) translateZ(27vmin);
}
.slot:nth-child(6) {
  transform: rotateX(270deg) translateZ(27vmin);
}
.slot:nth-child(7) {
  transform: rotateX(315deg) translateZ(27vmin);
}
.slot:nth-child(8) {
  transform: rotateX(360deg) translateZ(27vmin);
}
.slot:nth-child(9) {
  transform: rotateX(405deg) translateZ(27vmin);
}
.slot:nth-child(10) {
  transform: rotateX(450deg) translateZ(27vmin);
}
.slot:nth-child(11) {
  transform: rotateX(495deg) translateZ(27vmin);
}
.slot:nth-child(12) {
  transform: rotateX(540deg) translateZ(27vmin);
}
.slot:nth-child(13) {
  transform: rotateX(585deg) translateZ(27vmin);
}
.slot:nth-child(14) {
  transform: rotateX(630deg) translateZ(27vmin);
}
.slot:nth-child(15) {
  transform: rotateX(675deg) translateZ(27vmin);
}
.slot:nth-child(16) {
  transform: rotateX(720deg) translateZ(27vmin);
}
.slot:nth-child(17) {
  transform: rotateX(765deg) translateZ(27vmin);
}
.slot:nth-child(18) {
  transform: rotateX(810deg) translateZ(27vmin);
}
.slot:nth-child(19) {
  transform: rotateX(855deg) translateZ(27vmin);
}
.slot:nth-child(20) {
  transform: rotateX(900deg) translateZ(27vmin);
}
.slot:nth-child(21) {
  transform: rotateX(945deg) translateZ(27vmin);
}
.slot:nth-child(22) {
  transform: rotateX(990deg) translateZ(27vmin);
}
.slot:nth-child(23) {
  transform: rotateX(1035deg) translateZ(27vmin);
}

/*.lines
 * position: absolute
 * top: 50%
 * left: 50%
 * transform: translate(-50%, -50%) translateZ($vm*5)
 * width: 50%
 * height: 95%
 * background-image: linear-gradient(transparent 49.75%, rgba($co, .15) 49.75%, rgba($co, .15) 50.25%, transparent 50.25%), linear-gradient(to bottom left, transparent 49.75%, rgba($co, .15) 49.75%, rgba($co, .15) 50.25%, transparent 50.25%), linear-gradient(to bottom right, transparent 49.75%, rgba($co, .15) 49.75%, rgba($co, .15) 50.25%, transparent 50.25%) */
/*.title
 * width: $vm*12
 * position: absolute
 * padding-bottom: $vm*1.5
 * padding-left: 0.5px */
.spin {
  width: 25vmin;
  height: 10vmin;
  border: 0.5px solid;
  border-radius: 80%;
  font-size: 2vmin;
  color: white;
  background: transparent;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Menlo Regular";
  justify-content: center;
  align-content: center;
  /*&:active
  * color: scale-color($co, $lightness: 50%)
  * color: $co * 1.2 */
}
.spin:hover {
  color: #00FF7F;
}

/*.result
 * //transform: scale(0)
 * //opacity: 1
 * //animation: scale-on .375s ease-in-out forwards */
@keyframes scale-on {
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=slotmachine.css.map */
